body{
  background-color: antiquewhite;
}

table{
  width: 100%;
  height: 100%;
  margin: auto;
}

table, td, th{
  border:3px solid black;
  border-collapse: collapse;
}

td{
  padding: 0;
  width: 33%;
  height: 33%;
  aspect-ratio: 1/1;
  text-align: center;
  font-size: 260px;
  user-select: none;
}

#leftPanel{
  
}

#backGroundBoard{
  width: 30%;
  aspect-ratio: 1/1;
  margin: auto;
}

#winnerText{
  width: 30%;
  margin-left: 67%;
}